<div class="">
  <div tweet-search on-search="vm.onSearch(query)"></div>
  <div>
    <div ng-show="vm.query" class="col-sm-6">
      <h3>Resultados para {{vm.query}}:</h3>
      <ul class="list-group">
        <li class="list-group-item" ng-repeat="tweet in vm.searchedTweets | filter: search.text">
          <div>{{tweet.text}} <button ng-if="tweet.geo" type="button" class="btn btn-sm btn-primary" ng-click="vm.setPosition(tweet)" name="button">Map</button></div>
        </li>
      </ul>
    </div>
    <div class="col-sm-6 pull-right">
      <google-map param="vm.googleMapArgs"></google-map>
    </div>
  </div>
</div>
